#modal-add-thing .btn.add, #modal-add-image .btn.add, #modal-tags .btn.add {
    color: green;
    padding-top: 2px;
}

#modal-add-thing .btn.delete, #modal-add-image .btn.delete, #modal-tags .btn.delete {
    color: #cf0000;
    padding-top: 2px;
}

.search-results, .notification-results {
    font-size: 14px;
}

#modal-tags .btn.edit {
    color: #003bcf;
    padding-top: 2px;
}

#modal-tags .btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#modal-expired-notifications .btn.edit {
    color: #003bcf;
    padding: 0;
    margin: 0;
}

#modal-expired-notifications .btn.delete {
    color: #cf0000;
    padding: 0;
    margin: 0 0 0 10px;
}

@media (max-width: 767px) {
    #modal-search-thing button.search {
        margin-top: 15px;
    }

    #modal-add-image .btn.add, #modal-add-image .btn.delete {
        padding-top: 1px;
        padding-left: 0;
    }

    #modal-add-thing .btn.add, #modal-add-thing .btn.delete {
        padding-top: 1px;
        padding-left: 0;
    }

    #modal-tags .btn.edit, #modal-tags .btn.delete {
        padding-top: 1px;
        padding-left: 0;
    }
}