#add-thing-modal .btn.add {
    color: green;
    padding-top: 2px;
}

#add-thing-modal .btn.delete {
    color: #cf0000;
    padding-top: 2px;
}

#add-image-modal .btn.add {
    color: green;
    padding-top: 2px;
}

#add-image-modal .btn.delete {
    color: #cf0000;
    padding-top: 2px;
}

.search-results {
    font-size: 14px;
}

#tags-modal .btn.add {
    color: green;
    padding-top: 2px;
}

#tags-modal .btn.delete {
    color: #cf0000;
    padding-top: 2px;
}

#tags-modal .btn.edit {
    color: #003bcf;
    padding-top: 2px;
}

#tags-modal .btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 767px) {
    #search-thing-modal button.search {
        margin-top: 15px;
    }
    #add-image-modal .btn.add, #add-image-modal .btn.delete {
        padding-top: 1px;
        padding-left: 0;
    }
    #add-thing-modal .btn.add, #add-thing-modal .btn.delete {
        padding-top: 1px;
        padding-left: 0;
    }
    #tags-modal .btn.edit, #tags-modal .btn.delete {
        padding-top: 1px;
        padding-left: 0;
    }
}